:root {
  --text: #333;
  --interaction-color: #FF9900;
  --interaction-color-active: #E1670E;
}

.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__desc {
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.about-us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.about-us__asaid {
  height: 622px;
}

.service-feature_consultation {
  margin-bottom: 30px;
  background-image: url("../img/consultation_icon.svg");
}

.service-feature_improve-quality {
  background-image: url("../img/improve\ quality_icon.svg");
}
/* -------Блок asaid------- */
.asaid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../img/asaid.jpg");
  background-size: cover;
}

.asaid::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.31)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
}

.asaid__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 50px;
  gap: 139px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.asaid__desc {
  margin-right: 20px;
  max-width: 454px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}

.asaid__btn {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 18px 35px;
  border: 3px solid #FF9900;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  background-color: transparent;
  -webkit-transition-property: border, background-color;
  -o-transition-property: border, background-color;
  transition-property: border, background-color;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.asaid__btn:hover {
  background-color: var(--interaction-color);
}

.asaid__btn:focus {
  background-color: var(--interaction-color);
  outline: none;
}

.asaid__btn:active {
  border: 3px solid var(--interaction-color-active) ;
  background-color: var(--interaction-color-active);
}
/* ------------------------- */
/* --Блок service-feature-- */
.service-feature {
  min-width: 870px;
  padding: 65px 116px 63px 300px;
  border: 1px solid #CACACA;
  background-position: 60px 65px;
  background-repeat: no-repeat;
}

.service-feature__title {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--text);
}

.service-feature__desc {
  max-width: 450px;
}
/* ------------------------- */

@media (max-width: 1500px) {
  .about-us__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1360px) {
  .about-us {
    margin-bottom: 82px;
  }

  .asaid {
    width: 100%;
    height: 640px;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__desc {
    margin-bottom: 60px;
  }

  .about-us__asaid {
    min-width: 0;
  }

  .about-us__features {
    width: 100%;
  }

  .service-feature {
    min-width: 0;
    padding-left: 316px;
    background-position-x: 77px;
  }
}

@media (max-width: 968px) {
  .about-us {
    margin-bottom: 77px;
  }

  .asaid {
    height: 650px;
    background-image: url("../img/asaid_768.jpg");
  }

  .asaid__inner {
    padding: 34px 40px;
    gap: 0;
  }

  .asaid__desc {
    max-width: 366px;
  }

  .service-feature {
    padding: 35px 44px 35px 170px;
  }

  .service-feature_consultation {
    background-image: url("../img/consultation_icon__768.svg");
    background-position: 38px 67px;
  }

  .service-feature_improve-quality {
    background-image: url("../img/improve\ quality_icon__768.svg");
    background-position: 38px 67px;
  }
}

@media (max-width: 480px) {
  .about-us {
    margin-bottom: 62px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__desc {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 28px;
  }

  .asaid__desc {
    width: 100%;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: var(--text);
  }

  .asaid {
    height: auto;
    padding-top: 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url("../img/asaid_320.jpg");
    background-size: 100% 200px;
    background-repeat: no-repeat;
  }

  .asaid::before {
    display: none;
  }

  .asaid__inner {
    display: block;
    padding: 10px 0 0;
    background-color: transparent;
  }

  .asaid__btn {
    padding: 11px 41px;
    font-size: 12px;
    line-height: 14.5px;
    color: var(--interaction-color);
  }

  .service-feature {
    padding: 61px 0 0;
    border: 0;
  }

  .service-feature__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .service-feature_consultation {
    background-image: url("../img/consultation_icon__320.svg");
    background-position: 0 0;
  }

  .service-feature_improve-quality {
    background-image: url("../img/improve\ quality_icon__320.svg");
    background-position: 0 0;
  }

  .service-feature__desc {
    font-size: 14px;
    line-height: 28px;
  }
}
